<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Dashboard Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/dashboard.css" rel="stylesheet">

  </head>
   
  <body id="dashboard">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle cllapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">{{username}}</a> -->

          <div class="navbar-brand dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{username}}
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="user-menu">
            <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" role="tablist">
            <!-- <li class="active"></li> -->
            {% for n in list_result %}
              {% if loop.index == 1%}
                <li class="active"><a href="#{{n.lid}}" data-toggle="tab">{{n.name}}</a></li>
              {% else %}
                <li><a href="#{{n.lid}}" data-toggle="tab">{{n.name}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

      </div>    
    </nav> 
    
<!--         <div class="container-fliud">
      <div id=empty class="tab-pane active in">
        <div class="row">
        <div class="col-sm-5 col-md-4 sidebar"> 
          <div class="row">
 -->

<!--   <br/><div class="alert alert-info" role="alert">ALERT</div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashes">
    {% for m in messages %}
    <div class="alert alert-info" role="alert">{{ m }}</div>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% if error %}
  <div class="alert alert-danger" role="alert">{{ error }}</div>
  {% endif %}
 -->
<!--                     </div>    
          <div class="row">
          <form>
            <div class="form-group">
              <label for="message">Message: </label>
              <textarea type="text" class="form-control" rows="3" placeholder="Add comments" disabled></textarea>
             </div>
             <button type="submit" class="btn btn-primary">Send</button>
          </form>
          </div>
          <div class="row">                                                  
           </div>
        </div>

        <div class="col-sm-7 col-sm-offset-5 col-md-8 col-md-offset-4 main">
        </div>
      </div>
      </div>
 -->
    <!-- create list -->
    <div class="col-sm-11 col-md-11 main">
    <form style="width: 50%; float: right;" action="/create/list" method="post">
      <h2>Create New List</h2>
      <label for="input-name" class="sr-only">List Name</label>
      <input name="name" type="text" id="input-name" class="form-control" placeholder="List Name" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create List</button>
    </form>
    </div>
    <!-- /create list -->
    <div class="tab-content">
      {% for n in list_result %}
      {% if loop.index == 1%}
      <div id={{n.lid}} class="tab-pane active fade in">
      {% else %}
      <div id={{n.lid}} class="tab-pane fade">
      {% endif %}
      
        <div class="row">
        <div class="col-sm-3 col-md-4 sidebar">
          <div class="row">
          <form action="/create/comment" method="post">
            <div class="form-group">
              <input name="list_id" value="{{n.lid}}" type="hidden" id="input-listid" class="form-control" required>
              <label for="input-content">Message: </label>
              {% if n.edit %}
              <textarea name="content" type="text" rows="3" id="input-content" class="form-control" placeholder="Write your comment" required></textarea>
              {% else %}
              <textarea name="content" type="text" rows="3" id="input-content" class="form-control" placeholder="Write your comment" required disabled></textarea>
              {% endif %}
            </div>
            {% if n.edit %}
            <button type="submit" class="btn btn-primary">Send</button>
            {% else %}
            <button type="submit" class="btn btn-primary" disabled>Send</button>
            {% endif %}

          </form>
          </div>
           
          <div class="row">                                                  
             {% for c in n.comments %}
             </br>
             <pre>{{c.content}} {{c.since}} by {{c.sender}}</pre>
             {% endfor %}
           </div>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-4 main">
            <h2 style="text-align: center;">{{n.name}}</h2>
            <div style="height: 15px;">
              <p style="float: right;">Owner:{{n.owner}}</p>
            </div>
            {% for i in n.label %}
            
            <div class="label-region" style="margin: 10px 0;
                            background-color: aliceblue;
                            padding: 5px 20px 15px;">
              {% if n.edit %}
              <a><span title="Delete label" onclick="deletetable('label', {id: {{i.lid}}})" class="glyphicon glyphicon-remove" aria-hidden="true" style="margin-left: 15px;"></span></a>
              {% endif %}
              <h3 style="color: {{i.color}}; text-align: center;">{{i.name}}</h3>
              {% for a in i.task %}

              <div>{{a.label}}</div>
              <div class="dropdown" style="float: right">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="addlabel{{a.tid}}" aria-haspopup="true" aria-expanded="true">
                  Add label <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" araia-labelledby="addlabel{{a.tid}}">
                  {% for label in n.label %}
                    <!-- <li><a href onclick="$("#addlabel{{a.tid}}-{{label.lid}}").submit();">{{label.name}}</a></li> -->
                    <form action="/create/label_task" method="post">
                      <input name="task_id" value="{{a.tid}}" type="hidden">
                      <input name="label_id" value="{{label.lid}}" type="hidden">
                      <button type="submit">{{label.name}}</button>
                    </form>
                  {% endfor %}
                </ul>
              </div>
              <div id="task{{a.tid}}">
                <p>
                  {{a.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  Complete Precentage: &nbsp;{{a.completeness}}%
                  {% for taglabel in a.label %}
                  <span class="label label-{{taglabel.color}}" style="float:right; margin-left: 5px;">{{taglabel.name}}</span>
                  {% endfor %}
                  {% if n.edit %}
                  <a><span title="Delete task" onclick="deletetable('task', {id: {{a.tid}}})" class="glyphicon glyphicon-remove" aria-hidden="true" style="margin-left: 15px;"></span></a>
                  {% endif %}
                </p>
                <p>{{a.description}}</p>

                {% if a.status %}
                <pre>Completed by {{a.when_completed}}</pre>
                {% else %}
                <pre>Due Date: {{a.due}}  Assigned to: {{a.assigned_to}} Last Editor: {{a.last_editor}}</pre> 
                {% endif %}
                
                {% for m in a.checklist %}
                <p style="text-indent: 30px">
                  {{m.name}} Status:{{m.status}}
                  {% if n.edit %}
                  <a><span title="Delete checklist" onclick="deletetable('checklist', {id: {{m.cid}}})" class="glyphicon glyphicon-remove" aria-hidden="true" style="margin-left: 15px;"></span></a>
                  {% endif %}
                </p>
                {% endfor %}

                <!-- create checklist -->
                {% if n.edit %}
                <form action="/create/checklist" method="post">
                  <div class="form-group">        
                      <input name="task_id" value="{{a.tid}}" type="hidden" id="input-taskid" class="form-control" required>
                    <input name="name" type="text" id="input-name" class="form-control" placeholder="Break it down!" required>
                    <button class="btn btn-primary" type="submit" style="display: none;">Create Checklist</button>
                  </div>
                </form>
                {% endif %}
                <!-- /create checklist -->

              </div>
              {% endfor %}

              <!-- create task -->
              {% if n.edit %}
              <form action="/create/task" method="post" style="margin-top: 30px;">
                <h4>New task</h4>
                <input name="label_id" value="{{i.lid}}" type="hidden" class="form-control" required>
                <input name="list_id" value="{{n.lid}}" type="hidden" id="input-name" class="form-control" required>
                <input name="name" type="text" id="input-name" class="form-control" placeholder="Task Name" required>
                <input name="due" type="datetime" id="input-due" class="form-control" placeholder="Due">
                <input name="description" type="text" id="input-description" class="form-control" placeholder="Description">
                <input name="assigned_to" type="text" id="input-assigned_to" class="form-control" placeholder="Assign task to this email address">
                <button class="btn btn-primary" type="submit">Create Task</button>
              </form>
              {% endif %}
              <!-- /create task -->
            </div>
            {% endfor %}

            <!-- create label -->
            {% if n.edit %}
            <form action="/create/label" method="post" style="margin-top: 40px; background-color: aliceblue; padding: 5px 20px 15px;">
              <div class="form-group">
                <h2>New Label!!!</h2>
                <input name="list_id" value="{{n.lid}}" type="hidden" id="input-name" class="form-control" required>
                <input name="name" type="text" id="input-name" class="form-control" placeholder="Label Name" required>
                <input name="color" type="text" id="input-color" class="form-control" placeholder="Choose color (blue, red, green, orange, white, black, yellow, purple)">
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Create Label</button>
           </form>
           {% endif %}
            <!-- /create label -->
        </div>
        </div>
      </div>
      {% endfor %}
    </div>




    
  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    // table: comment
    // data: {id: 123}
    function deletetable(table, params) {
      var xhttp = new XMLHttpRequest();
      var path = "/delete/" + table + "?";
      for (var key in params) {
        path = path + key + "=";
        path = path + params[key] + "&";
      }
      console.log(path);
      // xhttp.open("POST", path, true);
      // xhttp.send();
      jQuery.ajax({
        type: "post",
        url: path,
        success: function(data) {
          if (data == 'done') {
            $('#' + table + params['id']).hide();
          }
        }
      })
    }
  </script>

   </body>
</html>

