<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Some famous Computer Scientists</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

</body>

<body>
  <h1>Lists for user</h1>
  <ul class=lists>
      <div>{{uid}}</div>
      <div>{{list_result}}</div>
 
      <div>
        {% for n in list_result %}
        <div>{{n}}</div>
        {% endfor %}
      </div> 
  <ul>
</body>

</html>
